


<div class = "container">

    <div class = "banner">
        Anime Tab
        <div class = "login">
            <mat-card>
                Sign in
                <form class>
                    <div class = "fields">
                        <mat-form-field appearance = "outline" class = "field">
                            <mat-label>username</mat-label>
                            <input matInput>
                        </mat-form-field>
                        
                        <br>

                        <mat-form-field appearance = "outline" class = "field">
                            <mat-label>password</mat-label>
                            <input matInput type = "password">
                        </mat-form-field>
                    </div>
                </form>

                <button mat-raised-button color="primary" routerLink="/user" class = "button">Log In</button>
            </mat-card>
        </div>
    </div>

</div>

