@font-face{
    font-family: "Earth Orbiter";
    src:url("../../assets/fonts/earthorbiter.ttf");
}


.container{
    min-width: 100%;
}

.banner{
    font-family: "Earth Orbiter";
    font-size: 80px;
    text-align: center;
}

.login{
    font-size: 18px;
    width: 25%;
    margin: auto;
    position: absolute;
    top:40%;
	bottom: 0;
	left: 0;
    right: 0;
}

.field{
    left: 25%;
}

.button{
    left: 84%;
}