@font-face{
    font-family: "Earth Orbiter";
    src:url("../../assets/fonts/earthorbiter.ttf");
}

@font-face{
    font-family: "Montserrat";
    src:url("../../assets/fonts/MontserratMedium.ttf");
}

.container{
    /* make div the size of the entire browser */
    width: 100%;
    height: 100%;
    position: absolute; top: 0; left: 0;

    /* align all divs to the center horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner{
    font-family: "Earth Orbiter";
    font-size: 80px;
}

.login{
    display: flex;
    flex-direction: column;
}

mat-label, .signin-label, input {
    font-family: "Montserrat";
}

.signin-label{
    margin-bottom: 3%;
}

button{
    margin-top: 20%;
    margin-left: 82%;
}