
@font-face{
    font-family: "Earth Orbiter";
    src:url("../../assets/fonts/earthorbiter.ttf");
}

@font-face{
    font-family: "Montserrat";
    src:url("../../assets/fonts/Montserrat-Regular.ttf");
}

.login {
    font-family: "Montserrat";
    font-size: 30px;
    color:black;
    display: flex;
    flex-direction: column;
}

.banner{
    font-family: "Earth Orbiter";
    font-size: 300px;

    /* glow on text */
    text-align: center;
    text-shadow: 0 0 5px white, 0 0 10px rgb(237, 148, 255), 
                 0 0 15px rgb(237, 148, 255), 0 0 20px rgb(237, 148, 255), 
                 0 0 25px rgb(237, 148, 255), 0 0 30px rgb(237, 148, 255);
}

.container{
    /* background img cover entire screen */
    background-image: url('../../assets/img/indexbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute; top: 0; left: 0;

    /* align all divs to the center horizontally and vertically */
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

button{
    margin: 5px;
}
