
<div class = "container">
    <div class = "login">

        <a routerLink = "/">
            <div class = "banner"> Anime Tab </div>
        </a>
        <mat-card>

            <div class = "signin-label" >Create new account</div>

                <form [formGroup]="newAccountForm" (ngSubmit) = "onSubmit()">
                <!-- USERNAME -->
                    <mat-form-field style = "width:300px" appearance = "outline" class = "field">
                        <mat-label>username</mat-label>
                        <input matInput required
                            formControlName = "username" 
                            type = "text" 
                            [ngClass]="(values.username.dirty || submitted) &&
                                        values.username.errors ? 'is-invalid' : ''">

                            <!-- username invalid -->
                            <div class = "invalid-feedback">
                                Username must be at least 4 characters long.
                                {{ usernameError }}
                            </div>
                    </mat-form-field>

                    <br>

                <!-- EMAIL -->
                    <mat-form-field style = "width:300px" appearance = "outline" class = "field">
                        <mat-label>email</mat-label>
                        <input matInput required
                            formControlName = "email" 
                            type = "email" 
                            [ngClass]="(submitted || values.password.dirty) && values.password.errors ? 'is-invalid' : ''">
                            
                            <!-- email invalid -->
                            <div class = "invalid-feedback">
                                A valid email address is required.
                            </div>
                    </mat-form-field>

                    <br>

                <!-- PASSWORD -->
                    <mat-form-field style = "width:300px" appearance = "outline" class = "field">
                        <mat-label>password</mat-label>
                        <input matInput required
                            formControlName = "password" 
                            type = "password" 
                            [ngClass]="(submitted || values.password.dirty) && values.password.errors ? 'is-invalid' : ''">

                            <!-- password invalid -->
                            <div class = "invalid-feedback">
                                Password must be at least 8 characters long.
                            </div>
                    </mat-form-field>
                    
                <!-- SUBMIT -->
                    <button mat-raised-button color="primary" class = "button">Create</button>
                </form>

        </mat-card>

    </div>
</div>